# Module 1 - Brief History of AI and it's applications

# [Module 2 - Retrieving and Cleaning Data](https://www.coursera.org/learn/ibm-exploratory-data-analysis-for-machine-learning/home/week/2)

## [Class 1 - Retrieving data from csv and json files](https://www.coursera.org/learn/ibm-exploratory-data-analysis-for-machine-learning/lecture/Lt8V6/retrieving-data-from-csv-and-json-files)

### Examples on how to retrieve data from CSV:

```
import pandas as pd

filepath = "a/file/path"

# For CSV files:
data = pd.read_csv(filepath)

# For tab delimiter(.tsv):
data = pd.read_csv(filepath, sep ="\t")

# For whitespace delimiter:
data = pd.read_csv(filepath, delim_whitespace= True)

# Dont use the first row as they are titles:
data = pd.read_csv(filepath, header=None)

# Specify column names:
data = pd.read_csv(filepath, names=["aname", "bname"])

# Specify error values on the dataset
data = pd.read_csv(filepath, na_values=['NA', 00])
```
### Examples on how to retrieve data from JSON:

```
import pandas as pd

filepath = "a/file/path"

# Read JSON as dataframe
data = pd.read_json(filepath)

# Write dataframe file to JSON
data.to_json('outputfile.json')
```

## [Class 2 - Retrieving data from Databases, API's and the Cloud](https://www.coursera.org/learn/ibm-exploratory-data-analysis-for-machine-learning/lecture/nUznC/retrieving-data-from-databases-apis-and-the-cloud)

### Databases that use Structured Query Language:
- Microsoft SQL Server
- Postgres
- MySQL
- AWS RedShift
- Oracle DB
- Db2 Family (IBM)

### Examples on how to retrieve data from SQL database:

```
import sqlite3 as sq3
import pandas as pd

# Initialize path to SQL database
path = 'path/todata/database_name.db'

# Create connection
con = sq3.Connection(path)

# Write query
query = ''' SELECT * FROM column_1;'''

# Execute query
data = pd.read_sql(query, con)
```

### NoSQL databases examples:
- Document Databases: mongoDB, couchDB
- Key-value stores: Riak, Voldemort, Redis
- Graph Databases: Neo4j, Hypergrah, AWS Neptune
- Wide-column stores: Cassandra, HBase

### Examples on how to retrieve data from MongoDb database:
```
from pymongo import MongoClient

# Create mongo connection
con = MongoClient()

# Display available databases
con.list_database_names()

# Connect to a database
db = con.database_name

# Create cursor object
cursor = db.collection_name.find(query)

# Expand cursor to create DataFrame
df = pd.DataFrame(list(cursor))

```

### Examples on how to retrieve data from API:

```
import pandas as pd

data_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

# Read data into a Dataframe

df = pd.read_csv(data_url, header=None)


```

In [4]:
#Import data from API

import pandas as pd

data_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

# Read data into a Dataframe
df = pd.read_csv(data_url, header=None)
df.iloc[:5]

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## [Demo Lab: Reading Data in Database Files - Part A](https://www.coursera.org/learn/ibm-exploratory-data-analysis-for-machine-learning/ungradedLti/bYXgY/demo-lab-reading-data-in-database-files-part-a)

In [26]:
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

In [27]:
# Downloading Data
#!wget -P data https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/classic_rock.db

In [28]:
# Connecting to database
path = "data/classic_rock.db"
con = sq3.Connection(path)
print(f"We can see that the connection is stabilished: {con}\n")

We can see that the connection is stabilished: <sqlite3.Connection object at 0x7eca35acdf40>

In [29]:
# Reading Data
query = 'SELECT * FROM rock_songs;'
observations = pds.read_sql(query, con)
print('We can see the query right below')
observations.head()

We can see the query right below

                     Song        Artist  Release_Year  PlayCount
0        Caught Up in You   .38 Special        1982.0         82
1         Hold On Loosely   .38 Special        1981.0         85
2  Rockin' Into the Night   .38 Special        1980.0         18
3       Art For Arts Sake          10cc        1975.0          1
4              Kryptonite  3 Doors Down        2000.0         13

In [30]:
# We can run any supported SQL Query
query = ''' SELECT Artist, Release_Year, COUNT(*) AS num_songs, AVG(PlayCount) AS avg_plays
  FROM rock_songs
  GROUP BY Artist, Release_Year
  ORDER BY num_songs desc; '''

observations = pds.read_sql(query, con)
print('We can see the query right below')
observations.head()

We can see the query right below

         Artist  Release_Year  num_songs  avg_plays
0   The Beatles        1967.0         23   6.565217
1  Led Zeppelin        1969.0         18  21.000000
2   The Beatles        1965.0         15   3.800000
3   The Beatles        1968.0         13  13.000000
4   The Beatles        1969.0         13  15.000000

### Common parameters

There are a number of common paramters that can be used to read in SQL data with formatting:

 - coerce_float: Attempt to force numbers into floats
 - parse_dates: List of columns to parse as dates
 - chunksize: Number of rows to include in each chunk

Let's have a look at using some of these parameters

In [ ]:
query='''
SELECT Artist, Release_Year, COUNT(*) AS num_songs, AVG(PlayCount) AS avg_plays
    FROM rock_songs
    GROUP BY Artist, Release_Year
    ORDER BY num_songs desc;
'''

# Execute the query
observations_generator = pds.read_sql(query,
                            con,
                            coerce_float=True, # Doesn't efefct this dataset, because floats were correctly parsed
                            parse_dates=['Release_Year'], # Parse `Release_Year` as a date
                            chunksize=5 # Allows for streaming results as a series of shorter tables
                           )

for index, observations in enumerate(observations_generator):
    if index < 5:
        print(f'Observations index: {index}'.format(index))
        display(observations)

## [Lab Exercise: Reading in database files](https://www.coursera.org/learn/ibm-exploratory-data-analysis-for-machine-learning/supplement/EozBo/optional-download-assets-for-lab-reading-data-in-jupyter-notebook-part-b)

 - Create a variable, `path`, containing the path to the `baseball.db` contained in `resources/`
 - Create a connection, `con`, that is connected to database at `path`
 - Create a variable, `query`, containing a SQL query which reads in all data from the `allstarfull` table
 - Create a variable, `observations`, by using pandas' [read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html)

### Optional
 - Create a variable, `tables`, which reads in all data from the table `sqlite_master`
 - Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players.

In [35]:
import sqlite3 as sq3
import pandas as pd
import pandas.io.sql as pds

In [49]:
path = "data/baseball.db"

con = sq3.Connection(path)

con

In [51]:
query = """
SELECT *
    FROM allstarfull
    ;
"""
allstar_observation = pd.read_sql(query, con)

DatabaseError: ignored

In [ ]:
opt_query = "SELECT * FROM  sqlite_master"
tables = pd.read_sql(opt_query, con)